<div class="login-container">
    <form ng-submit="authCtrl.onValidate()" class="login-form">
        <h2>Login</h2>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" ng-model="authCtrl.user.email" placeholder="Enter your email"
                required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" ng-model="authCtrl.user.password"
                placeholder="Enter your password" required />
        </div>
        <button type="submit" class="btn-login">Login</button>
        <label id="message"></label>
    </form>
</div>